#sandbox {
  position: relative;
  top: 100px;
  width: 500px;
  height: 500px;
  margin: auto;
  /*border: 1px solid black;*/
}

#controls {
  width: 500px;
  margin: auto;
  text-align: center;
}

body {
  margin: 0;
}

.label, .erasure-share, .segment, .farmer {
  position: absolute;
  transition: all 1s ease;
}

.label {
  padding: 5px;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: transparent;
  color: white;
  border: none;
  z-index: -2;
}

.label.visible {
  color: black;
  border: 1px dashed black;
  z-index: -1;
}

.segment {
  background-color: transparent;
}

.erasure-share, .segment.visible {
  background-color: CadetBlue;
}

.farmer {
  background-color: transparent;
}

.farmer.visible {
  background-color: darkgrey;
  border: 1px solid black;
  border-radius: 50%;
}
